<article class="module width_3_quarter">
  <header>
    <h3 class="tabs_involved"><%= t :listing_anamneses %></h3>
  </header>

  <div class="tab_container">
	  <div id="tab1" class="tab_content">
      <table class="tablesorter" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th><%= t :blood_type %></th>
            <th><%= t :rh_factor %></th>
            <th><%= t :weight %></th>
            <th><%= t :height %></th>
            <th><%= t :sex %></th>
            <th><%= t :blood_pressure %></th>
            <th><%= t :smoking %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @anamneses.each do |anamnesis| %>
          <tr>
            <td></td>
            <td><%= anamnesis.blood_type %></td>
            <td><%= anamnesis.rh_factor %></td>
            <td><%= anamnesis.weight %></td>
            <td><%= anamnesis.height %></td>
            <td><%= anamnesis.sex %></td>
            <td><%= anamnesis.blood_pressure %></td>
            <td><%= anamnesis.smoking %></td>
            <td><%= link_to image_tag("icn_folder.png", alt: t(:show), title: t(:show)), anamnesis %></td>
            <td><%= link_to image_tag("icn_edit_article.png", alt: t(:edit), title: I18n.t(:edit)), edit_anamnesis_path(anamnesis) %></td>
            <td><%= button_to t(:delete), { action: :destroy, id: anamnesis.id }, confirm: t(:are_you_sure), method: :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <%= link_to I18n.t(:new_anamnesis), new_anamnesis_path %>
</article>
