<%= outgoing_menssage %>
<div class='row'>
  <div class='span7 offset1'>
    <div class="page-header">
      <h2><%= I18n.t :showing_anamnese %>: <i><%= @name %></i></h2>
    </div>
    <table class="table table-bordered table-striped">
      <tr>
        <td><b><%= I18n.t :blood_type %></b></td>
        <td><%= @anamnese.blood_type %><%= @anamnese.rh_factor %></td>
      </tr>
      <tr>
        <td><b><%= I18n.t :weight %></b></td>
        <td><%= @anamnese.weight %> Kg</td>
      </tr>
      <tr>
        <td><b><%= I18n.t :height %></b></td>
        <td><%= @anamnese.height %> cm</td>
      </tr>
      <tr>
        <td><b><%= I18n.t :sex %></b></td>
        <td><%= @anamnese.sex %></td>
      </tr>
      <tr>
        <td><b><%= I18n.t :blood_pressure %></b></td>
        <td><%= @anamnese.blood_pressure %></td>
      </tr>
      <tr>
        <td><b><%= I18n.t :smoking %></b></td>
        <td><%= show_icon(@anamnese.smoking) %></td>
      </tr>
      <tr>
        <td><b><%= I18n.t :diseases %></b></td>
        <td><%= @anamnese.disease_list %></td>
      </tr>
      <tr>
        <td><b><%= I18n.t :drugs %></b></td>
        <td><%= @anamnese.drug_list %></td>
      </tr>
      <tr>
        <td><b><%= I18n.t :allergies %></b></td>
        <td><%= @anamnese.allergy_list %></td>
      </tr>
      <tr>
        <td><b><%= I18n.t :surgeries %></b></td>
        <td><%= @anamnese.surgery_list %></td>
      </tr>
    </table>

    <%= link_to arrow_left, :back %>
    <%= link_to I18n.t(:edit), edit_anamnese_path(@anamnese), class: 'btn btn-primary' %>
  </div>
</div>
