<div class='row'>
  <div class='span7 offset1'>
    <%= outgoing_menssage %>
    <div class="page-header">
      <h2><%= I18n.t :showing_anamnesi %>: <i><%= @name %></i></h2>
    </div>
    <table class="table table-bordered table-striped">
      <tr>
        <td><b><%= I18n.t :blood_type %></b></td>
        <td><%= @anamnesis.blood_type %><%= @anamnesis.rh_factor %></td>
      </tr>
      <tr>
        <td><b><%= I18n.t :weight %></b></td>
        <td><%= @anamnesis.weight %> Kg</td>
      </tr>
      <tr>
        <td><b><%= I18n.t :height %></b></td>
        <td><%= @anamnesis.height %> cm</td>
      </tr>
      <tr>
        <td><b><%= I18n.t :sex %></b></td>
        <td><%= @anamnesis.sex %></td>
      </tr>
      <tr>
        <td><b><%= I18n.t :blood_pressure %></b></td>
        <td><%= @anamnesis.blood_pressure %></td>
      </tr>
      <tr>
        <td><b><%= I18n.t :smoking %></b></td>
        <td><%= @anamnesis.smoking %></td>
      </tr>
    </table>

    <%= link_to arrow_left, :back %>
    <%= link_to I18n.t(:edit), edit_anamnese_path(@anamnesis), class: 'btn btn-primary' %>
  </div>
</div>
