<div class="page-header">
  <h2><%= I18n.t :listing_users %> - <%= link_to I18n.t(:new_user), new_user_path, class: 'btn btn-success' %></h2>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= I18n.t :name %></th>
      <th><%= I18n.t :login %></th>
      <th><%= I18n.t :email %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.login %></td>
      <td><%= user.email %></td>
      <td><%= link_to I18n.t(:show), user, class: 'btn' %></td>
      <td><%= link_to I18n.t(:edit), edit_user_path(user), class: 'btn btn-primary' %></td>
      <!--<td><%#= link_to I18n.t(:delete), user, method: :delete, confirm: t(:are_you_sure), class: 'btn btn-danger' %></td>-->
      <td><%= link_to I18n.t(:delete), user, method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @users, previous_label: I18n.t(:previous), next_label: I18n.t(:next) %>
<br />

<%= link_to I18n.t(:new_user), new_user_path, class: 'btn btn-success' %>
