<article class="module width_3_quarter">
  <header>
    <h3 class="tabs_involved"><%= t :listing_histories %></h3>
  </header>

  <div class="tab_container">
	  <div id="tab1" class="tab_content">
      <table class="tablesorter" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th><%= t :company %></th>
            <th><%= t :entry_date %></th>
            <th><%= t :exit_date %></th>
            <th><%= t :description %></th>
            <th><%= t :prescription_drugs %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @histories.each do |history| %>
          <tr>
            <td></td>
            <td><%= history.company %></td>
            <td><%= history.entry_date %></td>
            <td><%= history.exit_date %></td>
            <td><%= history.description %></td>
            <td><%= history.prescription_drugs %></td>
            <td><%= link_to image_tag("icn_folder.png", alt: t(:show), title: t(:show)), history %></td>
            <td><%= link_to image_tag("icn_edit_article.png", alt: t(:edit), title: I18n.t(:edit)), edit_history_path(history) %></td>
            <td><%= button_to t(:delete), { action: :destroy, id: history.id }, confirm: t(:are_you_sure), method: :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <%= link_to I18n.t(:new_history), new_history_path %>
</article>
