<article class="module width_3_quarter">
  <header>
    <h3 class="tabs_involved"><%= I18n.t :listing_accounts %></h3>
  </header>

  <div class="tab_container">
	  <div id="tab1" class="tab_content">
      <table class="tablesorter" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th><%= I18n.t :cpf %></th>
            <th><%= I18n.t :address %></th>
            <th><%= I18n.t :number %></th>
            <th><%= I18n.t :complement %></th>
            <th><%= I18n.t :neighborhood %></th>
            <th><%= I18n.t :city %></th>
            <th><%= I18n.t :state %></th>
            <th><%= I18n.t :country %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td></td>
            <td><%= account.cpf %></td>
            <td><%= account.address %></td>
            <td><%= account.number %></td>
            <td><%= account.complement %></td>
            <td><%= account.neighborhood %></td>
            <td><%= account.city %></td>
            <td><%= account.state %></td>
            <td><%= account.country %></td>
            <td><%= link_to image_tag("/assets/icn_folder.png", :alt => I18n.t(:show), :title => I18n.t(:show)), account %></td>
            <td><%= link_to image_tag("/assets/icn_edit_article.png", :alt => I18n.t(:edit), :title => I18n.t(:edit)), edit_account_path(account) %></td>
            <td><%= button_to I18n.t(:delete), { :action => "destroy", :id => account.id }, :confirm => I18n.t(:are_you_sure), :method => :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <%= link_to I18n.t(:new_account), new_account_path %>
</article>
