  <%%= outgoing_menssage %>
  <article class="module width_full">
    <header><h3><%%= t :showing %></h3></header>
    <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table class="tablesorter" cellspacing="0">
          <%- model_attributes.each do |attribute| -%>
          <tr>
            <td><b><%%= t :<%= attribute.name %> %></b></td>
            <td><%%= @<%= singular_name %>.<%= attribute.name %> %></td>
	  </tr>
          <%- end -%>
        </table>
      </div>
    </div>

    <footer>
      <div class="submit_link">
        <%%= link_to image_tag("icn_edit_article.png", alt: t(:edit), title: t(:edit)), edit_<%= singular_name %>_path(@<%= singular_name %>) %>
        <%%= link_to image_tag("icn_jump_back.png", alt: t(:back), title: t(:back)), <%= plural_name %>_path %>
      </div>
    </footer>
  </article>
