<%%= form_for(@<%= singular_name %>) do |f| %>
<div class="module_content">
  <%% if @<%= singular_name %>.errors.any? %>
    <div id="error_explanation">
      <h4 class='alert_error'><%%= pluralize(@<%= singular_name %>.errors.count, "error") %> prohibited this category from being saved:</h4>

      <ul>
      <%% @<%= singular_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>
  
  <%- model_attributes.each do |attribute| -%>
  <fieldset>
    <label><b><%%= I18n.t :<%= attribute.name %> %></b></label>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </fieldset>
  <%- end -%>
</div>
<footer>
  <div class="submit_link">
    <%%= f.submit %>
    <input type="reset" value="Reset">
    <%%= link_to image_tag("/assets/icn_jump_back.png", :alt => I18n.t(:back), :title => I18n.t(:back)), <%= plural_name %>_path %>
    <%% if params[:action] == 'edit' %>
      <%%= link_to image_tag("/assets/icn_folder.png", :alt => I18n.t(:show), :title => I18n.t(:show)), @<%= singular_name %> %>
    <%% end %>
  </div>
</footer>
<%% end %>
