<%= form_for(@account) do |f| %>
<div class="module_content">
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h4 class='alert_error'><%= pluralize(@account.errors.count, "error") %> prohibited this category from being saved:</h4>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <label><b><%= t :cpf %></b></label>
    <%= f.text_field :cpf %>
  </fieldset>
  <fieldset>
    <label><b><%= t :address %></b></label>
    <%= f.text_field :address %>
  </fieldset>
  <fieldset>
    <label><b><%= t :number %></b></label>
    <%= f.text_field :number %>
  </fieldset>
  <fieldset>
    <label><b><%= t :complement %></b></label>
    <%= f.text_field :complement %>
  </fieldset>
  <fieldset>
    <label><b><%= t :neighborhood %></b></label>
    <%= f.text_field :neighborhood %>
  </fieldset>
  <fieldset>
    <label><b><%= t :city %></b></label>
    <%= f.text_field :city %>
  </fieldset>
  <fieldset>
    <label><b><%= t :state %></b></label>
    <%= f.text_field :state %>
  </fieldset>
  <fieldset>
    <label><b><%= t :country %></b></label>
    <%= f.text_field :country %>
  </fieldset>
</div>
<footer>
  <div class="submit_link">
    <%= f.submit %>
    <input type="reset" value="Reset">
    <%= link_to image_tag("/assets/icn_jump_back.png", alt: t(:back), title: t(:back)), accounts_path %>
    <% if params[:action] == 'edit' %>
      <%= link_to image_tag("/assets/icn_folder.png", alt: t(:show), title: t(:show)), @account %>
    <% end %>
  </div>
</footer>
<% end %>
