<article class="module width_3_quarter">
  <header>
    <h3 class="tabs_involved"><%= t :listing_accounts %></h3>
  </header>

  <div class="tab_container">
	  <div id="tab1" class="tab_content">
      <table class="tablesorter" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th><%= t :cpf %></th>
            <th><%= t :address %></th>
            <th><%= t :number %></th>
            <th><%= t :complement %></th>
            <th><%= t :neighborhood %></th>
            <th><%= t :city %></th>
            <th><%= t :state %></th>
            <th><%= t :country %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td></td>
            <td><%= account.cpf %></td>
            <td><%= account.address %></td>
            <td><%= account.number %></td>
            <td><%= account.complement %></td>
            <td><%= account.neighborhood %></td>
            <td><%= account.city %></td>
            <td><%= account.state %></td>
            <td><%= account.country %></td>
            <td><%= link_to image_tag("/assets/icn_folder.png", alt: t(:show), title: t(:show)), account %></td>
            <td><%= link_to image_tag("/assets/icn_edit_article.png", alt: t(:edit), title: t(:edit)), edit_account_path(account) %></td>
            <td><%= button_to t(:delete), { action: :destroy, id: account.id }, confirm: t(:are_you_sure), method: :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <%= link_to I18n.t(:new_account), new_account_path %>
</article>
