  <%= outgoing_menssage %>
  <article class="module width_full">
    <header><h3><%= t :showing %></h3></header>
    <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table class="tablesorter" cellspacing="0">
          <tr>
            <td><b><%= t :cpf %></b></th>
            <td><%= @account.cpf %></td>
	  </tr>
          <tr>
            <td><b><%= t :address %></b></th>
            <td><%= @account.address %></td>
	  </tr>
          <tr>
            <td><b><%= t :number %></b></th>
            <td><%= @account.number %></td>
	  </tr>
          <tr>
            <td><b><%= t :complement %></b></th>
            <td><%= @account.complement %></td>
	  </tr>
          <tr>
            <td><b><%= t :neighborhood %></b></th>
            <td><%= @account.neighborhood %></td>
	  </tr>
          <tr>
            <td><b><%= t :city %></b></th>
            <td><%= @account.city %></td>
	  </tr>
          <tr>
            <td><b><%= t :state %></b></th>
            <td><%= @account.state %></td>
	  </tr>
          <tr>
            <td><b><%= t :country %></b></th>
            <td><%= @account.country %></td>
	  </tr>
        </table>
      </div>
    </div>

    <footer>
      <div class="submit_link">
        <%= link_to image_tag("/assets/icn_edit_article.png", alt: t(:edit), title: t(:edit)), edit_account_path(@account) %>
        <%= link_to image_tag("/assets/icn_jump_back.png", alt: t(:back), title: t(:back)), accounts_path %>
      </div>
    </footer>
  </article>
